.header {
  display: flex;
  background-color: var(--primary-dark);
  color: white;
  padding: 15px 40px;

  .logo {
    display: flex;
    gap: 10px;
    h1 {
      margin: auto;
      font-size: 16px;
      font-weight: 300;
      font-family: "Inter", sans-serif;
    }
  }

  .logOutDesktop {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    cursor: pointer;
  }
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 101;
  margin-left: 20px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.menuContent {
  color: #fff;
  text-align: center;
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.logoutBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 550px) {
  .burger {
    display: flex;
  }

  .logOutDesktop {
    img {
      display: none;
    }
  }
}
