.dialogPage {
  width: 90%;
  max-width: 500px;
  height: auto;
  z-index: 1;
  select {
    option {
      &:hover {
        background-color: none;
      }
    }
  }
  .dialogContainer {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 15px;
  }
  .dialogTop {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 10px;
    div {
      grid-column: 1;
      grid-row: 2;
    }
    button {
      margin-left: auto;
      grid-row: 1;
      grid-column: 2;
    }
  }
  .formContainer {
    display: grid;
    gap: 15px;
    margin-bottom: 20px;

    p {
      font-size: 14px;
      margin: 0;
    }
  }
  .status {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 12px;
    border-bottom: 1px solid #999;
  }
  p {
    align-items: center;
  }
  select {
    appearance: none;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
  }

  .priority {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 12px;
    border-bottom: 1px solid #999;
  }
  input {
    width: 100%;
    height: 100%;
    padding: 0;
    appearance: none;
    border: none;
    background: none;
  }
  .dueDate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #999;
  }

  .creationDate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #999;
  }

  .description {
    flex-direction: column;
    input {
      max-width: 500px;
      height: 100px;
      background-color: #f4f5f7;
    }
  }

  .bottomButtons {
    display: flex;
    .saveButton {
      background-color: var(--primary-blue);
      padding: 8px 30px;
      border-radius: 5px;
      margin-left: auto;
    }
    .deleteButton {
      background-color: rgba(255, 0, 0, 0.692);
      border-radius: 5px;
      padding: 8px 25px;
    }
  }
  .input {
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #6366f1;
    }
  }
  .taskInput {
    border: 1px solid white; /* базовая рамка */
    outline: none; /* убираем дефолтный синий */
    padding: 4px 0;
    border-radius: 4px;
    transition: border-color 0.2s;
  }

  .descInput {
    background-color: #f4f5f7;
    border: 1px solid white;
    outline: none;
    width: 100%;
    height: 150px;
  }

  /* При ховере */
  .taskInput:hover {
    border-color: #6366f1; /* твой цвет при наведении */
  }
  .descInput:hover {
    border-color: #6366f1; /* твой цвет при наведении */
  }
  .descInput:focus {
    border-color: #6366f1; /* твой цвет при печати */
  }
  /* При фокусе */
  .taskInput:focus {
    border-color: #6366f1; /* твой цвет при печати */
  }
}
.react-datepicker-wrapper {
  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.toDo {
  background-color: rgba(255, 44, 0, 0.4901960784);
}
